
/* Live chat courtesy of https://codepen.io/mehmetmert/pen/zYZRKZ */
#live-chat {
  position: fixed;
  z-index: 1000;
  right: 24px;
  bottom: 0;
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  font-size: 12px;

  max-height: 4rem;
  transition-property: max-height;
  transition-duration: .25s;
  transition-timing-function: linear;
}

#live-chat header {
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  background: #cfcfcf;
}

#live-chat header button {
  background: transparent;
  border: none;
  color: #000;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 16px 24px;
}

#live-chat header button::before {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 8px 0 0;
  content: "";
  border-radius: 50%;
  background: #1a8a34;
}

.chat-close {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #1b2126;
  font-size: 10px;
  line-height: 16px;
}

.chat {
  display: none;
  background: #fcfcfc;
  height: 0;
}

#live-chat.expanded {
  max-height: 80vh;
}

#live-chat.expanded .chat {
  display: block !important;
  height: auto;
}

.webchat__basic-transcript__scrollable {
  max-height: 75vh;
}

.chat-message .loader {
  --chat-loader: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);

  width: 30px;
  animation: l7 1s infinite linear;
  background:
    var(--chat-loader) 0% 50%,
    var(--chat-loader) 50% 50%,
    var(--chat-loader) 100% 50%;
  background-size: calc(100% / 3) 100%;
  aspect-ratio: 4;
}

@keyframes l7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }

  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }

  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}
