<div id="live-chat">
	<header class="clearfix">
    <button aria-controls="copilot-livechat">{{ header }}</button>
	</header>
  <div id="copilot-livechat" class="chat" style="display:none;" aria-expanded="false">
    <iframe src="{{ embed_url }}"></iframe>
  </div>
</div>
