<div id="live-chat">
	<header class="clearfix">
    <button aria-controls="copilot-livechat" aria-expanded="false">{{ header }}</button>
	</header>
  <div id="copilot-livechat" class="chat" style="display:none;">
    {# <iframe> tag injected here by javascript #}
  </div>
</div>
